$clearWhite : #fff;
$mainBlue : #1473E6;
$lightBlue : #2699FB;
$offGray : #707070;
$lightGray : #EFEFEF;
$alertRed : #f00;
$baseBlack : #333;
$deepBlack : #000;
$dimmDark : rgba(0,0,0,0.7);
$dimmLight : rgba(255,255,255, 0.7);
$shadowDark : rgba(0,0,0,0.16);
$baseYellow : #f1ebb5;
$spanBlack : rgba(0,0,0,0.87);
